.messageSender{
    display: flex;
    margin-top: 30px;
    flex-direction: column;
    border-radius:15px;
    box-shadow: 0px 5px 7px -7px  rgba(0, 0,0, 0.75);
    width:100%;
    background-color:#fff;
}
.message_top{
    padding:15px;
    display: flex;
    border:1px solid #eff2f5;
}
.message_top > form{
    display: flex;
    flex: 1;
}
.message_top > form > input{
    outline-width:0;
    border:none;
    padding: 5px 10px;
    margin:0px 10px;
    border-radius:999px;
    background-color:#eff2f5;
}
.message_top > form > button{
    display:none;
}
.message_input{
    flex: 1;
}
.message_bottom{
    display: flex;
    justify-content: space-evenly;
}
.message_option{
    display: flex;
    align-items: center;
    color: gray;
    margin: 5px;
    padding: 20px;
}
.message_option>h4{
    font-size: medium;
    margin-left: 10px;
    cursor: pointer;
}
.message_option:hover{
    background-color: #eff2f5;
    border-radius:15px;
}